.d-l10n-translate-template {
    color: gainsboro;
}

.d-l10n-translated {
    text-decoration: underline dotted;
}

.d-l10n-translated-reference {
}

.d-l10n-translated-entity-name {
    font-weight: bold;
}

.d-l10n-translated-entity-name-cjk {
    text-decoration: underline solid;
}

.d-l10n-translated-manuscript-name-cjk:before {
    content: '《';
}

.d-l10n-translated-manuscript-name-cjk:after {
    content: '》';
}

.d-l10n-translated-manuscript-name {
    font-style: italic;
}

.d-l10n-translated-non-cjk:before {
    content: ' '
}

.d-l10n-translated-non-cjk:after {
    content: ' '
}

.d-l10n-color-box {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border: 1px solid #000;
    margin-left: 0.2rem;
    margin-right: -0.2rem;
}

.d-l10n-color {
    display: inline-block;
}

.d-l10n-control-box {
    display: flex;
    flex-flow: row;
    border: 1px solid gray;
    padding: 0.5rem;
}

.d-l10n-control-box-item {
    display: inline-flex;
    flex-flow: row;
    align-items: center;
}

.d-l10n-control-box-item-label {
    display: block;
    margin-right: 0.5rem;
}

.d-l10n-control-box-vertical-divider {
    border-left: 1px solid gray;
    margin-left: 1rem;
    margin-right: 1rem;
}

.d-l10n-translated-error {
    color: red;
}
